[run]
omit = ["tests/*"]

[report]
exclude_also = 
    def __repr__
    if self\\.debug

    raise AssertionError
    raise NotImplementedError
    return NotImplemented

    if 0:
    if __name__ == .__main__.:

    @(abc\\.)?abstractmethod

    if TYPE_CHECKING: