[run]
branch = True
omit = 
    tests/*
    */_vendor/*

[report]
exclude_also = 
    if self\\.debug

    raise AssertionError
    raise NotImplementedError
    return NotImplemented

    if 0:
    if __name__ == .__main__.:

    @(abc\\.)?abstractmethod
    @overload

    if TYPE_CHECKING: