[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
customtkinter = "*"
ruff = "*"

[dev-packages]
icecream = "*"
monkeytype = "*"
bpython = "*"
autoimport = "*"
mypy = "*"

[requires]
python_version = "3.12"
