aenum @ git+https://github.com/rduo1009/aenum.git@8ccbb09513017f148fa4b66f23e49d7be75674fb
asttokens==2.4.1
click==8.1.7
codetiming==1.4.0
colorama==0.4.6
coverage==7.6.3
deptry==0.20.0
dill==0.3.9
docopt==0.6.2
docstr-coverage==2.3.2
execnet==2.1.1
executing==2.1.0
future_typing @ git+https://github.com/rduo1009/future-typing.git@ff8be71d90b5c1872460038983502a91728ec15c
icecream==2.1.3
inflect==7.4.0
iniconfig==2.0.0
joblib==1.4.2
lemminflect==0.2.3
libcst==1.5.0
lz4==4.3.3
MonkeyType==23.3.0
more-itertools==10.5.0
mypy==1.12.0
mypy-extensions==1.0.0
nltk==3.9.1
numpy==2.1.0
packaging==24.1
pluggy==1.5.0
pydoctest==0.2.1
Pygments==2.18.0
pytest==8.3.3
pytest-cov==5.0.0
pytest-sugar==1.0.0
pytest-testmon==2.1.1
pytest-watch==4.2.0
pytest-xdist==3.6.1
PyYAML==6.0.2
regex==2024.9.11
ruff==0.6.9
six==1.16.0
termcolor==2.5.0
tqdm==4.66.5
typeguard==4.3.0
types-regex==2024.9.11.20240912
typing_extensions==4.12.2
-e git+https://github.com/rduo1009/vocab-tester.git@2b02643c21e0f67140d0941b408b5279677cd290#egg=vocab_tester
watchdog==5.0.3
